@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
}

.signup-image{
    background-image: url("/download.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin-left: 10.5rem;
}